:root {
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
*,
*::before,
*::after,
html {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.2rem;
  font-weight: normal;
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--light-grayish-blue);
}

.card {
  border-radius: 1rem;
  margin-bottom: 3rem;
  width: 100%;
  background-color: var(--light-grayish-blue);
}

.card-content {
  padding: 8rem 10rem 9rem 0;
}
.card-title {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: var(--very-dark-desaturated-blue);
}
.card-item {
  padding-top: 1.5rem;
  border-bottom: 1px solid var(--dark-grayish-blue);
}
.card-item__header {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  cursor: pointer;
  transition: all 0.25s linear;
}
.card-item__header > * {
  pointer-events: none;
}
.card-item__header,
.card-item__content {
  color: var(--dark-grayish-blue);
}
.card-item__header-icon {
  color: var(--soft-red);
}
.card-item__content {
  height: 0;
  overflow: hidden;
  transition: all 0.25s linear;
}
.card-item__content.is-active {
  height: auto;
}
.card-item__content-inner {
  margin-bottom: 1.5rem;
}
.rotate {
  transform: rotate(180deg);
}
@media screen and (min-width: 768px) {
  .card {
    max-width: 90rem;
  }
}
@media screen and (max-width: 767px) {
  .card {
    max-width: 30rem;
    position: relative;
  }
  .pattern-img {
    position: relative;

    left: 10%;
  }
  .woman-img {
    position: absolute;
    top: -19%;
    left: 14%;
    width: 73%;
  }
  .card-content {
    padding: 2rem 2rem 5rem;
  }
  .card-title {
    text-align: center;
  }
  .card-item__header {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
  }
  .card-item__icon {
    width: 1rem;
    height: 7px;
    transition: all 0.25s linear;
  }
}
