:root {
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
*,
*::before,
*::after,
html {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.2rem;
  font-weight: normal;
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
  height: 100vh;
  width: 100vw;
  display: grid;
  align-content: center;
  justify-content: center;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--light-grayish-blue);
}

.card {
  border-radius: 1rem;
  margin-bottom: 3rem;
  width: 90rem;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 8rem;
  background-color: var(--light-grayish-blue);
}
.card-left {
  position: relative;
}
.card-left::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("./images/bg-pattern-desktop.svg") no-repeat;
  background-position: -565px -310px;
}
.card-image {
  position: absolute;
  width: 153px;
  height: 170px;
  top: 205px;
  left: -75px;
  z-index: 999;
}
.card-left::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("./images/illustration-woman-online-desktop.svg") no-repeat;
  background-position: -80px 60px;
}

.card-right {
  padding: 8rem 10rem 9rem 0;
}
.card-title {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: var(--very-dark-desaturated-blue);
}
.card-item {
  padding-top: 1.5rem;
  border-bottom: 1px solid var(--dark-grayish-blue);
}
.card-item__header {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  padding-bottom: 1.5rem;
  cursor: pointer;
}
.card-item__header > * {
  pointer-events: none;
}
.card-item__header,
.card-item__content {
  color: var(--dark-grayish-blue);
}
.card-item__header-icon {
  color: var(--soft-red);
}
.card-item__content {
  height: 5px;
  overflow: hidden;
  transition: all 0.25s linear;
}
.card-item__content.is-active {
  height: auto;
}
.card-item__content-inner {
  margin-bottom: 1.5rem;
}
