:root {
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
  --scrollHeight: 45px;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
*,
*::before,
*::after,
html {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.2rem;
  font-weight: normal;
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-content: center;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--light-grayish-blue);
}

.card {
  border-radius: 1rem;
  margin-bottom: 3rem;
  background-color: var(--light-grayish-blue);
  height: 51rem;
  width: 92rem;
  display: grid;
  grid-template-columns: 40rem 1fr;
  grid-gap: 5rem;
  background-image: url("./images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: 1260% 65%;
}
.card-media {
  position: relative;
}
.card-img {
  background: url("./images/illustration-woman-online-desktop.svg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: 105% center;
}
.card-box {
  position: absolute;
  top: 42%;
  left: -23%;
}
.card-content {
  padding: 8rem 8rem 9rem 0;
}
.card-title {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: var(--very-dark-desaturated-blue);
}
.card-item {
  padding-top: 1.5rem;
  border-bottom: 1px solid var(--dark-grayish-blue);
}
.card-item__header {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  cursor: pointer;
  transition: all 0.25s linear;
  align-items: center;
}
.card-item__icon {
  width: 10px;
  height: 7px;
}
.card-item__header > * {
  pointer-events: none;
}
.card-item__header,
.card-item__content {
  color: var(--dark-grayish-blue);
}
.card-item__header-icon {
  color: var(--soft-red);
}
.card-item__content {
  height: 0;
  overflow: hidden;
  transition: all 0.25s linear;
}
.active span {
  color: var(--very-dark-desaturated-blue);
  font-weight: 700;
}
.active img {
  transform: rotate(180deg);
  transition: all 0.25s linear;
}
.active .card-item__content {
  height: var(--scrollHeight);
}
.card-item__content-inner {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 1024px) {
  .card {
    width: 35rem;
    height: 40rem;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-gap: 0;
    position: relative;
  }
  .card-media {
    background: url("./images/bg-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-position: center 590%;
  }
  .card-img {
    position: absolute;
    width: 100%;
    height: 200px;
    background-size: 72%;
    background-position: center;
    top: -115%;
  }
  .card-box {
    width: 55px;
    left: 19%;
    top: -30%;
  }
  .card-content {
    padding: 1.5rem;
    padding-top: 0;
  }
  .card-title {
    text-align: center;
    margin-bottom: 0;
  }
}
